<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../views/partials/nav.ejs') %>
    <div class="container mt-3">
      <h1 class="text-center">Home</h1>
      <div class="row">
        <div class="col-12">
          <% products.forEach(product=> { %> <% if (product.isHome) { %>
          <!-- product card -->
          <%- include("../views/partials/product", product) %> <% } %> <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
